.footer{
    padding: 4rem;

    background-color: rgba(153, 153, 153, 0.384);
    border-top: 1px solid rgba(0, 0, 0, 0.418);
    display: flex;
    // align-items: center;
    justify-content: space-around;

    @include phone{
        flex-direction: column;
        align-items: center;
    }

    &__list{
        list-style: none;

        @include phone{
            // border-top: 1px solid #000;
        }
    }

    &__item{
        margin: .5rem 0;
    }

    &__link{
        text-decoration: none;
        color: #fff;
    }
}