.history{
    padding: 1rem 2rem 1rem 0;

    &__content{
       display: flex;
    }

    &__img--container{
        margin-right: 2rem;
        width: 50%;
        background-image: url(./../images/nike4.jpg);
        background-attachment: fixed;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);

    }

    &__text{
        width: 50%;
    }

    &__title{
        font-size: 1.6rem;
        margin-top: 0;
    }

    &__desc{
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #999;
        margin-bottom: 2rem;
    }

}

.finish{
    height: 20rem;
}