

.nav{
    background-color: #fff;
    box-shadow: 2px 2px 4px  #555;
    padding: .6rem 0;
    
    

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        @include phone{
            flex-direction: column;
        }
    }

    &__list{
        display: flex;
        list-style: none;
    }

    &__item{
        margin: 0 1.2rem;
    }

    &__link{
        text-decoration: none;
    }
    // &__logo{
    //     width: 5rem;
    //     height: 5rem;
    //     border-radius: 50%;
    // }

}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

